---
title: Viget FED Candidate Quiz
---
<header class="page-header">
	<h1>
		<%= current_page.data.title %>
	</h1>
</header>

<section class="row-fluid">
	<%= partial "q1" %>
</section>

<section class="row-fluid">
	<%= partial "q2" %>
</section>

<section class="row-fluid">
	<%= partial "q3" %>
</section>

<section class="row-fluid">
	<%= partial "q4" %>
</section>

<section class="row-fluid">
	<%= partial "q5" %>
</section>

<section class="row-fluid">
	<%= partial "q6" %>
</section>

<section class="row-fluid">
	<p>title</p>
	<%= partial "q7" %>
</section>

<section class="row-fluid">
	<header>
		<h2><a href="/rwd" title="responsive page">Responsive page &raquo;</a></h2>
	</header>
</section>

<section class="row-fluid">
	<%= partial "q8" %>
</section>